:root {
  /* Breakpoints */
  --mobile-breakpoint: 991px;

  /* Font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;

  /* Font families */
  --font-family-code: 'Roboto Mono', Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;
  --font-family-base: 'Source Sans Pro', 'Hiragino Sans GB', Arial, sans-serif;
  --font-family-logo: 'Oswald', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

  /* Z-index values */
  --z-index-sidebar-content: 1020;
  --z-index-header: 1030;
  --z-index-main-nav: 1040;
}

:root,
[data-mode='light'] {
  /* Colors */
  --color-surface-base: #f7f7f7;
  --color-surface-raised: #fff;

  --color-text: #666;
  --color-title: #333;
  --color-subtitle: #757575;
  --color-border: #ccc;

  --brand-primary: #1074b6;
  --brand-second: #2e96ea;
  --brand-info: #18828a;

  --color-link: var(--color-text);
  --color-link-hover: #333;

  --color-text-body: var(--color-text);
}

[data-mode='dark'] {
  /* Colors */
  --color-surface-base: #1a1a1a;
  --color-surface-raised: #1f1f1f;

  --color-text: #aaa;
  --color-title: #ddd;
  --color-subtitle: #bbb;
  --color-border: #444;

  --brand-primary: #2e96ea;
  --brand-second: #1074b6;
  --brand-info: #1fa4ad;

  --color-link: var(--color-text);
  --color-link-hover: #ddd;

  --color-text-body: var(--color-text);
}
