:root {
  /* Breakpoints */
  --mobile-breakpoint: 991px;

  /* Font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;

  /* Font families */
  --font-family-code: 'Roboto Mono', Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;
  --font-family-base: 'Source Sans Pro', 'Hiragino Sans GB', Arial, sans-serif;
  --font-family-logo: 'Oswald', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

  /* Z-index values */
  --z-index-sidebar-content: 1020;
  --z-index-header: 1030;
  --z-index-main-nav: 1040;
}

/*
  For variable naming conventions, see: var-naming.md
*/

:root,
[data-mode='light'] {
  /* Colors */

  /* Surface colors */
  --color-surface-base: #fff;
  --color-surface-raised: #fff;
  --color-surface-sunken: #f7fafc;

  /* Text colors */
  --color-text-1: #333;
  --color-text-2: #666;
  --color-text-3: #757575;

  /* Border colors */
  --color-border-2: #ccc;
  --color-border-3: #e6e6e6;

  /* Background colors */
  --color-gray: #eee;
  --color-interactive-3: #f5f5f5;

  --color-text: var(--color-text-2);
  --color-title: var(--color-text-1);
  --color-subtitle: var(--color-text-3);
  --color-border: var(--color-border-2);

  --brand-primary: #1074b6;
  --brand-second: #2e96ea;
  --brand-info: #18828a;

  --color-link: var(--color-text-2);
  --color-link-hover: var(--color-text-1);

  --color-emphasis: #bf2a5c;

  --color-text-body: var(--color-text-2);
  --color-clickable-example: black;

  --color-code-keyword: #0077aa; /* Cyan */
  --color-code-function: #6639ba; /* Indigo */
  --color-code-separator: #24292f; /* Gray */
  --color-code-property: #116329; /* Green */
  --color-code-value: #953800; /* Orange */
  --color-code-operator: #0550ae; /* Blue */
  --color-code-comment: #6a737d; /* Gray */
  --color-code-string: #0a3069; /* Blue */
  --color-code-bool: var(--color-code-operator);
  --color-code-attribute: #007070; /* Teal */

  --color-chart-1: #8884d8; /* Indigo */
  --color-chart-2: #82ca9d; /* Green */
}

[data-mode='dark'] {
  /* Colors */

  /* Surface colors */
  --color-surface-base: #1a1a1a;
  --color-surface-raised: #1f1f1f;
  --color-surface-sunken: #151718;

  /* Text colors */
  --color-text-1: #ddd;
  --color-text-2: #aaa;
  --color-text-3: #999;

  /* Border colors */
  --color-border-2: #444;
  --color-border-3: #363636;

  /* Background colors */
  --color-gray: #333;
  --color-interactive-3: #222;

  --color-text: var(--color-text-2);
  --color-title: var(--color-text-1);
  --color-subtitle: var(--color-text-3);
  --color-border: var(--color-border-2);

  --brand-primary: #2e96ea;
  --brand-second: #1074b6;
  --brand-info: #1fa4ad;

  --color-link: var(--color-text-2);
  --color-link-hover: var(--color-text-1);

  --color-emphasis: oklch(75.719% 0.18611 6.549);

  --color-text-body: var(--color-text-2);
  --color-clickable-example: white;

  --color-code-keyword: oklab(73.952% -0.06404 -0.09922);
  --color-code-function: oklch(77.43% 0.19093 293.838);
  --color-code-separator: oklch(87.85% 0.01323 253.087);
  --color-code-property: oklch(73.906% 0.11791 148.086);
  --color-code-value: oklch(90.566% 0.13704 43.334);
  --color-code-operator: oklch(75.096% 0.1642 258.195);
  --color-code-comment: oklch(55.137% 0.01905 251.048);
  --color-code-string: oklch(82.104% 0.10849 259.129);
  --color-code-bool: var(--color-code-operator);
  --color-code-attribute: oklch(80.36% 0.08427 194.807);

  --color-chart-1: #8884d8; /* Indigo */
  --color-chart-2: #82ca9d; /* Green */
}
