:root {
  /* Breakpoints */
  --mobile-breakpoint: 991px;

  /* Font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;

  /* Font families */
  --font-family-code: 'Roboto Mono', Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;
  --font-family-base: 'Source Sans Pro', 'Hiragino Sans GB', Arial, sans-serif;
  --font-family-logo: 'Oswald', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

  /* Z-index values */
  --z-index-sidebar-content: 1020;
  --z-index-header: 1030;
  --z-index-main-nav: 1040;
}

/*
  For variable naming conventions, see: var-naming.md
*/

:root,
[data-mode='light'] {
  /* Colors */

  /* Surface colors */
  --color-surface-base: #fff;
  --color-surface-raised: #fff;
  --color-surface-sunken: #f0f0f0;

  /* Text colors */
  --color-text-1: #333;
  --color-text-2: #666;
  --color-text-3: #757575;

  /* Border colors */
  --color-border-2: #ccc;
  --color-border-3: #e6e6e6;

  /* Background colors */
  --color-interactive-3: #f5f5f5;

  --color-text: var(--color-text-2);
  --color-title: var(--color-text-1);
  --color-subtitle: var(--color-text-3);
  --color-border: var(--color-border-2);

  --brand-primary: #1074b6;
  --brand-second: #2e96ea;
  --brand-info: #18828a;

  --color-link: var(--color-text-2);
  --color-link-hover: var(--color-text-1);

  --color-text-body: var(--color-text-2);
}

[data-mode='dark'] {
  /* Colors */

  /* Surface colors */
  --color-surface-base: #1a1a1a;
  --color-surface-raised: #1f1f1f;
  --color-surface-sunken: #161616;

  /* Text colors */
  --color-text-1: #ddd;
  --color-text-2: #aaa;
  --color-text-3: #999;

  /* Border colors */
  --color-border-2: #444;
  --color-border-3: #363636;

  /* Background colors */
  --color-interactive-3: #222;

  --color-text: var(--color-text-2);
  --color-title: var(--color-text-1);
  --color-subtitle: var(--color-text-3);
  --color-border: var(--color-border-2);

  --brand-primary: #2e96ea;
  --brand-second: #1074b6;
  --brand-info: #1fa4ad;

  --color-link: var(--color-text-2);
  --color-link-hover: var(--color-text-1);

  --color-text-body: var(--color-text-2);
}
