:root {
  /* Breakpoints */
  --mobile-breakpoint: 991px;

  /* Colors */
  --background-color: var(--color-gray-1);
  --text-color: var(--color-gray-11);
  --title-color: var(--color-gray-12);
  --subtitle-text-color: var(--color-gray-11);
  --border-color: var(--color-gray-6);

  --brand-primary: var(--color-blue-9);
  --brand-second: var(--color-blue-8);
  --brand-info: var(--color-teal-9);

  --link-color: var(--text-color);
  --link-color-hover: var(--color-gray-12);

  --text-color-body: var(--text-color);

  /* Font sizes */
  --font-size-base: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 24px;

  /* Font families */
  --font-family-code: 'Roboto Mono', Consolas, 'Liberation Mono', 'Courier New', Courier, monospace;
  --font-family-base: 'Source Sans Pro', 'Hiragino Sans GB', Arial, sans-serif;
  --font-family-logo: 'Oswald', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

  /* Z-index values */
  --z-index-sidebar-content: 1020;
  --z-index-header: 1030;
  --z-index-main-nav: 1040;
}
