header {
  width: 100%;
  background-color: var(--color-gray-1);
  box-shadow: 0 0 4px var(--color-gray-a8);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 60px;
  line-height: 60px;
  display: flex;
  flex-direction: row;
  gap: 80px;

  .logo {
    margin: 0;
    padding: 0 2rem;
    font-family: var(--font-family-code), monospace;
    font-weight: 300;
    font-size: var(--font-size-xl);
    white-space: nowrap;

    > a {
      color: var(--color-teal-11);
      text-decoration: none;
    }
  }
}
